image: golang:1.23

stages:
  - test
  - build

variables:
  GOPATH: $CI_PROJECT_DIR/.go
  CGO_ENABLED: "0"

cache:
  paths:
    - .go/pkg/mod/

before_script:
  - mkdir -p .go
  - go mod download

lint:
  stage: test
  script:
    - go fmt $(go list ./... | grep -v /vendor/)
    - go vet $(go list ./... | grep -v /vendor/)

test:
  stage: test
  script:
    - go test -race -v ./...

build:
  stage: build
  script:
    - go build -o bin/atlas ./cmd/atlas
  artifacts:
    paths:
      - bin/